
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-hover" style="cursor: pointer" id="libros">
    <tr class="info" style="font-weight: bold">
        <td >Nombre</td>
        <td>Editorial</td>
        <td>Autor</td>
        <td>Genero</td>
    </tr>
</table>

@section MiJS
{
    <script>
        var url = "http://localhost:59969/api/Libros";
        $.getJSON(url, undefined, function(res) {
            for (var i = 0; i < res.length; i++) {
                var txt = "<tr>";
                txt += "<td>" + res[i].nombre + "</td>";
                txt += "<td>" + res[i].editorial + "</td>";
                txt += "<td>" + res[i].autor + "</td>";
                txt += "<td>" + res[i].genero+ "</td>";
                txt += "</tr>";
                $("#libros").append(txt);
            }
        });
</script>
}
